[project]
	description = The open source error catcher that's Airbrake API compliant
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/androiddots (sundarshankar)
[access "refs/for/refs/*"]
	read = group user/androiddots (sundarshankar)
	push = group user/androiddots (sundarshankar)
	label-Code-Review = -2..+2 group user/androiddots (sundarshankar)
	label-Verified = -1..+1 group user/androiddots (sundarshankar)
	rebase = group user/androiddots (sundarshankar)
	removeReviewer = group user/androiddots (sundarshankar)
	submit = group user/androiddots (sundarshankar)
[access "refs/heads/*"]
	read = group user/androiddots (sundarshankar)
	create = group user/androiddots (sundarshankar)
	push = +force group user/androiddots (sundarshankar)
	pushMerge = group user/androiddots (sundarshankar)
[access "refs/tags/*"]
	push = +force group user/androiddots (sundarshankar)
	pushTag = group user/androiddots (sundarshankar)
	pushSignedTag = group user/androiddots (sundarshankar)
